.filter-name-left {
    text-align: left;
    float: left;
    font-size: 11px;
}

.filter-name {
    text-align: left;
    float: left;
    font-size: 11px;
    font-weight: 600;
}

.filter-name-right {
    text-align: right;
    float: right;
    font-size: 11px;
}

.MuiSlider-root {
    padding: 10px 0 !important;
}

.remove-genre {
    float: right;
    width: 18px !important;
    height: 18px !important;
}

.audio-filter-container, .genre-filter-container {
    border-radius: 10px;
    background: rgb(95, 95, 95);
    padding: 10px;
    margin-top: 10px;
}

#filter-container {
    padding: 0;
}

.MuiSlider-root {
    color: white !important;
}