.filter-name-left {
    text-align: left;
    float: left;
    font-size: 11px;
}

.filter-name {
    text-align: left;
    float: left;
    font-size: 11px;
    font-weight: 600;
}

.filter-name-right {
    text-align: right;
    float: right;
    font-size: 11px;
}

.MuiSlider-root {
    padding: 10px 0 !important;
}

.remove-genre {
    float: right;
    width: 18px !important;
    height: 18px !important;
    border-radius: 100%;
}
.remove-genre:hover {
    background-color: rgb(59, 59, 59);
}
.reset {
    color: rgb(142, 142, 230);
}
.audio-filter-container, .genre-filter-container {
    border-radius: 10px;
    background: rgb(95, 95, 95);
    padding: 10px;
    margin-top: 10px;
}

.audio-filter-container-inactive {
    border-radius: 10px;
    background: rgb(168, 168, 168);
    padding: 10px;
    margin-top: 10px;
}

#filter-container {
    padding: 20px 0 20px;
}

.MuiSlider-root {
    color: rgb(209, 209, 209) !important;
}

hr {
    background-color: rgb(95, 95, 95);
}

@media only screen and (max-width: 768px) {
    #filter-container {
        padding: 5% 5% 5% 5%;
    }
}